# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Yet_Another_Python_Compiler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
